.main-container {
    --main-bg-color: #F0F3F5;
    --text-color: #333333;
    --accent-color: #984AE8;
    --drop-shadow-color: #dadada;

    font-family: "Montserrat", Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
    height: 100vh;
}

.main-container[data-theme="dark"] {
    --main-bg-color: #121212;
    --text-color: #fafafa;
    --drop-shadow-color: #333333;
}

.content-container {
    height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}